.greenBorder {
    border: 5px solid var(--light-green);
    border-radius: 12% 44% 12% 44%;
    padding: 1rem;

    & .mapContainer {
        border-radius: 12% 44% 12% 44%;
    }

    &:hover {
        padding: 0;
    }
}