nav.navbar {
    & .navbar-brand {
        width: 22%;
    }

    & .navbar-nav li{
        margin-right: 1.5rem;
        & .dropdown-menu li{
            width: 100%;
        }
    }

    & .nav-menu {
        width: 70vw;
        display: flex;
        text-align: center;
        margin-right: 2.5rem;
        justify-content: end;
    }

    & .callBtn {
        background-color: #115278 !important;

        a {
            font-family: var(--heading-font) !important;
            font-size: 1rem;
        }
    }

    & .dropdown:hover .dropdown-menu {
        display: block;
    }

    & .menu-icon {
        display: none;
    }

    & .dropdownListItem:hover .dropdownMenu{
        display: block;
    }


    @media only screen and (max-width: 1024px) {
        & {
            & .navbar-brand {
                width: 45%;
                position: relative;
                z-index: 2;
            }

            & .nav-menu {
                flex-direction: column;
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0px;
                left: -120%;
                opacity: 1;
                transition: all 0.5s ease;
            }

            .nav-menu.active {
                background: #242222;
                left: 0;
                opacity: 1;
                transition: all 0.5s ease;
                z-index: 1;
                padding: 0.5rem 1rem;

                & .navbar-nav {
                    height: 100%;
                    width: 100%;
                    overflow-y: scroll;
                    padding-top: 4rem;
                    overflow: hidden;

                    & li {
                        width: 100%;
                        text-align: left;

                        & #servicesDropdown,
                        & #aboutDropdown {
                            color: #fff;
                            font-size: 2rem;
                        }

                        a {
                            color: #fff;
                        }
                    }
                }

                & .menu-icon {
                    color: #fff !important;
                }
            }


            .menu-icon {
                display: block;
                cursor: pointer;
                position: absolute;
                z-index: 2;
                left: 3%;
                background-color: transparent;
                border: none;
                outline: none;
            }
        }
    }

   
}
